.add {
    width: 90%;
    max-width: 550px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.add-img-upload img {
    width: 100px;
    cursor: pointer;
}

.add-product-name input,
.add-category select,
.rate-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.rate-input{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.rate-input input{
    flex: 1;
    min-width: 120px;
}

.added-rates ul{
    list-style: none;
    padding: 0;
}

.added-rates li{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.added-rates button{
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.rate-input button{
    background: rgb(130, 2, 2);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    min-width: 80px;
}

.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}